<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShortURL - Simplify Your Links</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      
      align-items: center;
      height: 100vh;
      background: linear-gradient(to bottom right, #1b1e23, #2a2d34);
      color: #fff;
    }

    .container {
      text-align: center;
      margin-top: 20vh;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 40px;
    }

    .btn {
      padding: 10px 20px;
      background-color: #fff;
      color: #1b1e23;
      border: none;
      border-radius: 25px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .btn:hover {
      background-color: #1b1e23;
      color: #fff;
    }
    #blueurl {
      color: rgb(67, 67, 235);

    }
    header{
      width: 100%;
      display: flex;

      justify-content: center;
      padding:2vh 0 2vh 0;
    }
    nav{
      display: flex;
      width: 80%;
      justify-content: space-between;
    }
  </style>
</head>
<body >
  <header>
    <nav >
      <span style="font-size: medium; font-weight: 800;"> ShortURL</span>
      
      <span style="display: flex; gap: 2vw;">

        <a href="/signup"><button style="padding: 1vh 2vw; background:rgb(255, 255, 110); outline: 0; border: 0;">signup</button></a>
        <a href="/login"><button style="padding: 1vh 2vw; background-color: rgb(95, 231, 95); outline: 0; border: 0;">login</button></a>
      </span>


    </nav>
  </header>
  <div class="container">
 
    <h1>ShortURL</h1>
    <p>Simplify Your Links with ShortURL - The easiest way to shorten your long URLs.</p>
    <% if (locals.id) { %>
      <p>Your short URL is: <a href="localhost:8000/url/<%=id%>" id="blueurl">localhost:8000/url/<%= id %></a></p>
    <% } %>
    <form method="POST" action="/url">
       <input type="text" placeholder="enter long url" name="url" style="padding: 10px 20px; color: grey; outline: none; font-size: 1.1rem;">
       <input type="submit" value="create short url" style="padding: 10px 7px; color:white; background-color:rgb(63, 63, 255); outline:none; border: none; font-size: 1.1rem;">
       
    </form>

  </div>
  <div style="margin-top: 30px">
    <% if (locals.urls) { %>
      <table style="border-collapse: collapse; width: 100%; text-align: center; margin-top: 20px;">
        <thead style="background-color:yellow; color: #1b1e23;">
          <th style="padding: 10px;">S. No</th>
          <th style="padding: 10px;">ShortID</th>
          <th style="padding: 10px;">Redirect</th>
          <th style="padding: 10px;">Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr style="background-color:#fff; color: black;">
            <td style="padding: 10px;"><%= index + 1 %></td>
            <td style="padding: 10px;"><%= url.shortId %></td>
            <td style="padding: 10px;"><%= url.OriginalUrl %></td>
            <td style="padding: 10px;"><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      
    <% } %>
  </div>
</body>
</html>
